<div class="container">
    <div class="academy">
      <div class="text-content text-center">
        <h3>
          HISTORIAL ACADÉMICO
        </h3>

        <div *ngFor="let educ of educations">
          <app-education [education]="educ">
            
          </app-education>
        </div >
        <div id="edition-delete">
          <app-add
          [createTitle]="['Titulo','Institucion','Fecha inicio', 'Fecha fin']" 
          [entidad]="'education'"
          [createParams]="['titulo', 'institucion', 'fecha_inicio','fecha_fin']"
          [is_certification]="false"
          ></app-add>
        </div>


        <!-- <div class="description">
        <h4> Licenciatura en Criminalística</h4>
        <p>
          Instituto Universitario de la Policia Federal
        </p>
        <p>Argentina | 2015 - 2021
        </p>
        <div id="edition-delete">
          <app-edit></app-edit>
          <app-delete></app-delete>
          
        </div>

        <h4>Bachiller en Gestión Empresarial</h4>
        <p>Centro de Educación Media N°70</p>
        <p>Argentina | 2009 - 2013
        </p>
        <div id="edition-delete">
          <app-edit></app-edit>
          <app-delete></app-delete>
          <app-add></app-add>
        </div>
        </div> -->
      </div>
    
    </div>
    <div class="academy">
      <div class="text-content text-center">
        <h4> CERTIFICACIONES</h4>

        <div *ngFor="let cert of certification">
          <app-education [education]="cert">
            
          </app-education>
        </div >
        
      </div>
      <div id="edition-delete">
        <app-add
        [createTitle]="['Titulo','Institucion','Fecha inicio', 'Fecha fin']" 
        [entidad]="'education'"
        [createParams]="['titulo', 'institucion', 'fecha_inicio','fecha_fin']"
        [is_certification]="true"
        ></app-add>
      </div>
    </div>
</div>
