img {

    height: 24px;
    
    }
    
    #staticBackdrop {
        padding: 16px;
        background: rgba(0,0,0,0.35);
        align-items: center;
        justify-content: center;
        overflow-y:auto;
        z-index: 999999;
    }
    .btn-safe{
        background: #F9E6DF;
    }